@{
    ViewData["Title"] = "Home Page";
}

<div class="container about">
    <h1>About us</h1>
    <p>Deserunt fugiat culpa eiusmod non proident veniam reprehenderit minim sint. Amet irure ipsum id laboris consequat magna deserunt ut cupidatat. Cillum fugiat veniam est minim. Nulla veniam esse ullamco cillum excepteur do esse consectetur consequat adipisicing dolor. Nostrud do eiusmod consequat laborum dolore aliquip laborum nisi incididunt cupidatat elit et fugiat adipisicing. Laborum consequat elit veniam sunt ut nostrud.</p>
</div>

<div class="eshop">
    <div class="container">
        <h1>Eshop</h1>
        <p>Deserunt fugiat culpa eiusmod non proident veniam reprehenderit minim sint. Amet irure ipsum id laboris consequat magna deserunt ut cupidatat. Cillum fugiat veniam est minim. Nulla veniam esse ullamco cillum excepteur do esse consectetur consequat adipisicing dolor. Nostrud do eiusmod consequat laborum dolore aliquip laborum nisi incididunt cupidatat elit et fugiat adipisicing. Laborum consequat elit veniam sunt ut nostrud.</p>

        <div class="row">

            <div class="col-md-3">
                <div class="block">
                    <div class="top"><div class="heading">CHUCK TAYLOR ALL STAR CLASSIC COLOURS</div></div>
                    <div class="middle">
                        <img src="https://www.converse.com/on/demandware.static/-/Sites-ConverseMaster/default/dw48f5fc3c/images/hi-res/M9621C_standard.png?sw=580&sh=580&sm=fit" alt="pic" />
                    </div>
                    <div class="bottom">
                        <div class="info">Classic red converse edition</div>
                        <div class="style">Color: Red / Style: M9621C</div>
                        <div class="prices">
                            <div class="old-price">$750.00</div>
                            <div id="wrap">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-xl-6">
                                            <div class="price">$270.00</div>
                                        </div>
                                        <div class="col-xl-6 ">
                                            <a href="#"><button class="btn btn-danger btn-md cart"><i class="fa fa-shopping-cart kosik" aria-hidden="true"></i>To cart</button></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="block">
                    <div class="top"><div class="heading">CHUCK TAYLOR ALL STAR CLASSIC COLOURS</div></div>
                    <div class="middle">
                        <img src="https://www.converse.com/on/demandware.static/-/Sites-ConverseMaster/default/dw48f5fc3c/images/hi-res/M9621C_standard.png?sw=580&sh=580&sm=fit" alt="pic" />
                    </div>
                    <div class="bottom">
                        <div class="info">Classic red converse edition</div>
                        <div class="style">Color: Red / Style: M9621C</div>
                        <div class="prices">
                            <div class="old-price">$750.00</div>
                            <div id="wrap">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-xl-6">
                                            <div class="price">$270.00</div>
                                        </div>
                                        <div class="col-xl-6 ">
                                            <a href="#"><button class="btn btn-danger btn-md cart"><i class="fa fa-shopping-cart kosik" aria-hidden="true"></i>To cart</button></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="block">
                    <div class="top"><div class="heading">CHUCK TAYLOR ALL STAR CLASSIC COLOURS</div></div>
                    <div class="middle">
                        <img src="https://www.converse.com/on/demandware.static/-/Sites-ConverseMaster/default/dw48f5fc3c/images/hi-res/M9621C_standard.png?sw=580&sh=580&sm=fit" alt="pic" />
                    </div>
                    <div class="bottom">
                        <div class="info">Classic red converse edition</div>
                        <div class="style">Color: Red / Style: M9621C</div>
                        <div class="prices">
                            <div class="old-price">$750.00</div>
                            <div id="wrap">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-xl-6">
                                            <div class="price">$270.00</div>
                                        </div>
                                        <div class="col-xl-6 ">
                                            <a href="#"><button class="btn btn-danger btn-md cart"><i class="fa fa-shopping-cart kosik" aria-hidden="true"></i>To cart</button></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="block">
                    <div class="top"><div class="heading">CHUCK TAYLOR ALL STAR CLASSIC COLOURS</div></div>
                    <div class="middle">
                        <img src="https://www.converse.com/on/demandware.static/-/Sites-ConverseMaster/default/dw48f5fc3c/images/hi-res/M9621C_standard.png?sw=580&sh=580&sm=fit" alt="pic" />
                    </div>
                    <div class="bottom">
                        <div class="info">Classic red converse edition</div>
                        <div class="style">Color: Red / Style: M9621C</div>
                        <div class="prices">
                            <div class="old-price">$750.00</div>
                            <div id="wrap">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-xl-6">
                                            <div class="price">$270.00</div>
                                        </div>
                                        <div class="col-xl-6 ">
                                            <a href="#"><button class="btn btn-danger btn-md cart"><i class="fa fa-shopping-cart kosik" aria-hidden="true"></i>To cart</button></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>

    <a asp-area="" asp-controller="Eshop" asp-action="Index"><button class="btn btn-primary view-more-products">view more</button></a>
</div>

<div class="container team">
    <h1>Our Team</h1>
    <p>Deserunt fugiat culpa eiusmod non proident veniam reprehenderit minim sint. Amet irure ipsum id laboris consequat magna deserunt ut cupidatat. Cillum fugiat veniam est minim. Nulla veniam esse ullamco cillum excepteur do esse consectetur consequat adipisicing dolor. Nostrud do eiusmod consequat laborum dolore aliquip laborum nisi incididunt cupidatat elit et fugiat adipisicing. Laborum consequat elit veniam sunt ut nostrud.</p>
</div>